.destination{
    border-bottom:.013333rem solid #ddd;
    .am-navbar-light{
        color:#00be88;
    }
    .tabs{
        .tab-nav{
            float:left;
            width: 1rem;
            li{
                width:1rem;
                height: .72rem;
                line-height: .72rem;
                text-align: center;
                border-bottom:.013333rem solid #ccc;
                background: #fff;
            }
        }
        .tab-content{
            margin:.2rem;
            width: 3.6rem;
        }
    }
}